/* Global styles and variables */
:root {
  --font-sans-serif: -apple-system,
    system-ui,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  --accent-color: #7e34f7;
  --font-size-base: 14px;
  --border-base-radius: 4px;
  --color-border-gray: #ededed;
  --color-secondary-gray: #4b587c;
  --color-primary-gray: #21293c;
  --color-input-placeholder: #8a8f9c;
}

html, body {
  font-family: var(--font-sans-serif);
  line-height: 1.5;
  font-size: var(--font-size-base);
  color: var(--color-primary-gray);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

input, textarea, button {
  font-family: var(--font-sans-serif);
}

/* Avatar styles */
.avatar {
  border-radius: 50%;
  object-fit: cover;
  height: 34px;
  width: 34px;
}

/* Comment discussion and form */

.comment-discussion {
  max-width: 720px;
  margin: auto;
}

.comment-discussion .heading {
  margin-bottom: 2rem;
}

.comment-form {
  display: flex;
  align-items: center;
}

.comment-form .avatar {
  margin-right: 1rem;
}

.comment-form-input {
  border: 1px solid var(--color-border-gray);
  border-radius: var(--border-base-radius);
  flex: 1;
  flex-shrink: 0;
  margin-right: 1rem;
  display: block;
  height: 38px;
  padding: 6px 12px;
  background: #fff;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

.comment-form-input::placeholder {
  color: var(--color-input-placeholder);
  font-weight: 500;
}

.comment-form-submit {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: white;
  padding: 0.5rem 0.75rem;
  box-shadow: none;
  border: none;
  border-radius: var(--border-base-radius);
  font-weight: 700;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-base);
}

.comment-discussion-divider {
  height: 1px;
  background-color: var(--color-border-gray);
  border: none;
  margin: 3rem 0;
}

/* Comment */

.comment {
  display: flex;
  margin-bottom: 2rem;
}

.comment .avatar {
  margin-right: 1rem;
}

.comment-avatar-thread {
  position: relative;
}

.comment-avatar-thread::before,
.comment-reply-thread::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: var(--color-border-gray);
  left: 15px;
  z-index: -1;
}

.comment-reply-thread {
  min-width: 48px;
  position: relative;
  margin-top: -2rem;
}

.comment-reply-thread.hide {
  visibility: hidden;
}

.comment-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.25rem;
}

.comment .comment-header .heading {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.comment .comment-header .separator {
  color: var(--color-secondary-gray);
  margin: 0 0.5rem;
}

.comment .comment-header .time {
  color: var(--color-secondary-gray);
  font-size: 0.9rem;
}

.comment .comment-body {
  margin-bottom: 0.75rem;
}

.comment .comment-footer {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-secondary-gray);
  font-size: 0.9rem;
}

.comment .comment-footer .upvote_icon {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.comment .comment-footer .upvote-btn,
.comment .comment-footer .reply-btn {
  color: var(--color-secondary-gray);
  text-decoration: none;
}

.comment .comment-footer .upvote-btn:hover,
.comment .comment-footer .upvote-btn.active,
.comment .comment-footer .reply-btn:hover {
  color: var(--accent-color);
}

.comment .comment-footer .reply-btn {
  margin-left: 2rem;
}

.comment-reply-form {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.comment-reply-form .avatar {
  margin-right: 1rem;
}

.comment-replies-block {
  margin-bottom: 2rem;
}

.reply-form-container {
  display: flex;
}

