<main class="comment-discussion">
  <h2 class="heading heading__2">Discussion</h2>
  {{> comment_form }}
  <hr class="comment-discussion-divider" />
  <div class="comment-block js-comment-block">
    {{#each comments}}
      {{> comment showReply=true }}
      <div class="js-comment-reply-form"></div>
      <div class="comment-replies-block js-comment-replies">
         {{#each replies}}
          {{> comment showReply=false }}
        {{/each}}
      </div>
    {{/each}}
  </div>
</main>
